@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--white);
}

/* Light Theme  */
:root {
  --shadow: 2px 2px 10px 0 rgba(0,0,0,.2), -2px -2px 10px 0 rgba(0,0,0,.2);
  --black: #000;
  --white: #fefefe;
  --grey: #ddd;
  --percent: #4cd137;
  --divide: #00a8ff;
  --multiple: #9c88ff;
  --minus: #fbc531;
  --plus: #487eb0;
  --equal: #e84118;
}

/* Dark Theme */
[theme="dark"] {
  --shadow: 2px 2px 10px 0 rgba(255,255,255,.1), -2px -2px 10px 0 rgba(255,255,255,.1);
  --black: #fefefe;
  --white: #000;
  --grey: #192a56;
  --percent: #44bd32;
  --divide: #0097e6;
  --multiple: #8c7ae6;
  --minus: #ff8906;
  --plus: #40739e;
  --equal: #c23616;
}

/*  Change Theme effect  */
.change_theme {
  position: absolute;
  right: 30px;
  top: 30px;
}
i {
  font-size: 25px;
  display: block;
  cursor: pointer;
}
i.fa-sun {
  color: #000;
}
i.fa-moon {
  color: #fff;
}
[show="false"] {
  display: none !important;
}

/*  Calculator  */
.calculator {
  text-align: center;
  box-shadow: var(--shadow);
}
#input, #result {
  width: 80vw;
  background: var(--white);
  color: #000;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 25px;
  overflow: hidden;
  padding: 0 15px;
  color: var(--black);
}
#result {
  flex-direction: row-reverse;
}

/* Keyboard */
.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: var(--white);
}
.keyboard .key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vw / 4);
  color: var(--black);
}
.clear, .delete, .percent, .multiple, .divide, .minus, .plus, .equal {
  border-radius: 50%;
}
.clear, .delete {
  background: var(--grey);
}
.percent {
  background: var(--percent);
}
.divide {
  background: var(--divide);
}
.multiple {
  background: var(--multiple);
}
.minus {
  background: var(--minus);
}
.plus {
  background: var(--plus);
}
.equal {
  background: var(--equal);
} 

/* For Desktop */
@media screen and (min-width: 900px) {
  #input, #result {
    height: 120px;
    font-size: 30px;
  }
  .keyboard .key {
    font-size: 30px;
  }
  i {
    font-size: 40px;
  }
}